.propElPort {
  width: 25%;
  height: 35em;
  background-position: center;
  transition: 0.5s ease;
  opacity: 0.2;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
.hoverPort {
  transition: 0.5s ease;
  width: 30%;
  opacity: 1;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?b8x1hr');
  src: url('../fonts/icomoon.eot?b8x1hr#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?b8x1hr') format('truetype'), url('../fonts/icomoon.woff?b8x1hr') format('woff'), url('../fonts/icomoon.svg?b8x1hr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-menu {
  background-color: #c26d3b;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  top: 10px;
  padding: 10px;
  display: none;
  z-index: 3;
  cursor: pointer;
  color: white;
}
.icon-cancel-circle {
  display: none;
  color: white;
}
body {
  margin: 0;
  background-color: white;
  font-family: 'Questrial', sans-serif;
}
.header {
  color: black;
  display: flex;
  justify-content: space-between;
  height: 4em;
}
.liHead {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1.2em;
}
.elLi {
  margin-left: 1em;
  padding: 0.1em 0.6em 0.1em 0.3em;
  transition: 0.5s;
  border-right-width: 1px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 3px;
  border-right-color: black;
  border-bottom-color: black;
  border-top-color: white;
  border-left-color: white;
  border-radius: 8px 8px 16px 8px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-style: solid;
  border-left-style: solid;
  cursor: pointer;
}
.elLi:hover {
  border-right-color: #c26d3b;
  border-bottom-color: #c26d3b;
  border-top-color: white;
  border-left-color: white;
  transition: 0.5s;
}
.figure {
  margin: 0;
  padding: 0.5em;
}
.navHeader {
  margin-right: 2em;
}
.portBack {
  display: flex;
  margin: 0;
  width: 100%;
}
.qsomos {
  background-image: url(../img/quienessomos.jpg);
}
.carta {
  background-image: url(../img/carta.jpg);
  background-size: cover;
}
.reservas {
  background-image: url(../img/reserved.jpg);
}
.bebida {
  background-image: url(../img/vino.jpg);
}
.contacto {
  background-image: url(../img/contact3.jpg);
}
.qsomos,
.carta,
.reservas,
.bebida,
.contacto {
  width: 25%;
  height: 35em;
  background-position: center;
  transition: 0.5s ease;
  opacity: 0.2;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
.reservas:hover,
.bebida:hover,
.qsomos:hover,
.contacto:hover,
.carta:hover,
.reservas:hover {
  transition: 0.5s ease;
  width: 30%;
  opacity: 1;
}
.portBack h3 {
  margin-left: 10%;
  margin-top: 70%;
  font-size: 1.5em;
  color: white;
  background-color: #c26d3b;
  border-radius: 18px 0 0 18px;
  padding-left: 0.5em;
}
.vincQS:before {
  content: 'IR';
  font-size: 1em;
  transition: 1s ease;
  font-weight: bolder;
}
.vincQS:hover:before {
  content: 'ir > >';
  transition: 1s ease;
  padding-left: 5%;
}
.vincQS {
  border: 1px solid #c26d3b;
  border-radius: 18px ;
  padding: 1em;
  color: #c26d3b;
  background-color: white;
  position: relative;
  margin-left: 2em;
}
.link {
  text-decoration: none;
  color: black;
}
.centro {
  background-color: black;
  margin-left: 5%;
  width: 90%;
}
.cuerpoQs {
  margin: auto;
  border-radius: 8px;
  background-color: #f3e4db;
  border: 1px solid black;
  width: 85%;
  color: #c26d3b;
  font-size: 1.5em;
  padding: 0.5em;
}
.img1qs {
  width: 18em;
  float: left;
  margin-right: 0.7em;
  margin-bottom: 0.7em;
  border-radius: 8px 0 0 0;
}
.secCarta {
  display: flex;
  margin: auto;
  border-radius: 8px;
  background-color: #f3e4db;
  border: 1px solid black;
  width: 85%;
  color: #c26d3b;
  font-size: 1.5em;
  padding: 0.5em;
  justify-content: space-between;
}
.seccionM {
  margin: 1em;
  padding: 0.7em;
}
.ulMenu {
  border-right: 1px solid #545454;
  border-top: 2px solid #c26d3b;
  padding: 0.4em;
  list-style: none;
  cursor: pointer;
}
.ulMenu li {
  margin: 0.2em;
  padding: 0.3em;
}
.titC {
  color: #545454;
  height: 2em;
}
.linkC {
  color: #c26d3b;
  text-decoration: none;
}
.res {
  background-color: #545454;
  color: white ;
  padding: 0.2em;
}
.linkC:hover {
  transition: 1s;
  background-color: #545454;
  color: white ;
  padding: 0.2em;
}
.plato {
  font-size: 0.8em;
}
.formuRes {
  margin: auto;
  border-radius: 8px;
  background-color: #f3e4db;
  border: 1px solid black;
  width: 85%;
  color: #c26d3b;
  font-size: 1.5em;
  padding: 0.5em;
  border: none;
}
.cyr {
  margin: auto;
  border-radius: 8px;
  background-color: #f3e4db;
  border: 1px solid black;
  width: 85%;
  color: #c26d3b;
  font-size: 1.5em;
  padding: 0.5em;
  display: flex;
  font-size: 1em;
}
.col1 {
  display: flex;
  flex-direction: column;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="radio"],
input[type="submit"] {
  margin: 1em;
  cursor: pointer;
}
input[type="date"] {
  width: 10em;
}
.formTit {
  color: #545454;
}
.col2 {
  display: flex;
  flex-direction: column;
}
input[type="submit"] {
  width: 6em;
  color: white;
  background-color: #c26d3b;
  border-radius: 10px;
  padding: 0.5em;
}
.cuerpoC {
  margin: auto;
  width: 60%;
  text-align: center;
}
.spanb {
  color: #f3e4db;
}
.costadoImgB {
  width: 25%;
  margin: 0;
  background-image: url(../img/mamma-roma-tenerife-10.jpg);
  background-size: cover;
  padding: 0;
  background-position-x: -6em;
  border-radius: 0px 8px 8px 0;
}
.textoQs {
  padding: 1em;
}
@media screen and (max-width: 865px) {
  .liHead {
    font-size: 1em;
  }
  .elLi {
    padding-bottom: 0.3em;
  }
}
@media screen and (max-width: 625px) {
  .menu {
    position: fixed;
    right: 0;
    bottom: ;
    top: 0;
    left: -100%;
    background-color: rgba(194, 109, 59, 0.95);
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.45, 0.32, 0.99, 0.59);
    -moz-transition: all 600ms cubic-bezier(0.45, 0.32, 0.99, 0.59);
    -o-transition: all 600ms cubic-bezier(0.45, 0.32, 0.99, 0.59);
    transition: all 600ms cubic-bezier(0.45, 0.32, 0.99, 0.59);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(0.45, 0.32, 0.99, 0.59);
    -moz-transition-timing-function: cubic-bezier(0.45, 0.32, 0.99, 0.59);
    -o-transition-timing-function: cubic-bezier(0.45, 0.32, 0.99, 0.59);
    transition-timing-function: cubic-bezier(0.45, 0.32, 0.99, 0.59);
    /* custom */
  }
  .menu.activate {
    left: 0;
    opacity: 1;
    -webkit-transition: all 600ms cubic-bezier(0.45, 0.32, 0.99, 0.59);
    -moz-transition: all 600ms cubic-bezier(0.45, 0.32, 0.99, 0.59);
    -o-transition: all 600ms cubic-bezier(0.45, 0.32, 0.99, 0.59);
    transition: all 600ms cubic-bezier(0.45, 0.32, 0.99, 0.59);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(0.45, 0.32, 0.99, 0.59);
    -moz-transition-timing-function: cubic-bezier(0.45, 0.32, 0.99, 0.59);
    -o-transition-timing-function: cubic-bezier(0.45, 0.32, 0.99, 0.59);
    transition-timing-function: cubic-bezier(0.45, 0.32, 0.99, 0.59);
    /* custom */
    text-align: center;
  }
  .menu ul {
    flex: 1;
  }
  .icon-menu {
    display: initial;
  }
  .menu li:first-child {
    border-top: 1px solid white;
  }
  .menu li:before {
    display: none;
  }
  .liHead {
    flex-direction: column;
    display: flex;
    font-size: 1.5em;
    width: 80%;
    align-items: center;
    margin: 0.5em;
    border: none;
  }
  .figure {
    z-index: 4;
  }
  .link {
    color: white;
  }
  .elLi {
    margin: 0.5em;
    border: 1px solid white;
  }
  .portBack {
    flex-direction: column;
  }
  .qsomos,
  .carta,
  .reservas,
  .bebida,
  .contacto {
    width: 100%;
    background-size: cover;
  }
  .reservas:hover,
  .bebida:hover,
  .qsomos:hover,
  .contacto:hover,
  .carta:hover,
  .reservas:hover {
    width: 100%;
  }
  .vincQS {
    display: none;
  }
  .portBack h3 {
    padding: 0.3em;
    font-size: 2.5em;
  }
  .costadoImgB {
    display: none;
  }
  .cyr {
    flex-direction: column;
  }
}
